<nav class="bottom-nav">
  <a href="index.html" class="bottom-nav__item">
    <img src="assets/icons/home.svg" alt="홈">
  </a>

  <a href="explore.html" class="bottom-nav__item">
    <img src="assets/icons/compass.png" alt="탐색">
  </a>

  <a href="#" class="bottom-nav__item">
    <img src="assets/icons/plus.png" alt="추가">
  </a>

  <a href="reels.html" class="bottom-nav__item">
    <img src="assets/icons/reels.svg" alt="릴스">
  </a>

  <a href="profile.html" class="bottom-nav__item">
    <img src="assets/images/avatar.png" alt="프로필">
  </a>
</nav>
